<div class="wrapper bg-transparent">
  <div class="wrapper-content">
    <h2>PRUEBA ANGULAR: Subir archivo a servidor <a class="text-link"
        href="https://www.youtube.com/watch?v=8GJgfk1rFUQ&list=PL_WGMLcL4jzVY1y-SutA3N_PCNCAG7Y46&index=16"
        target="_blank"><i class="uil uil-youtube"></i></a>
    </h2>
    <p><i>Pon a prueba tus conocimientos</i></p>
    <p>
      Debes crear un campo tipo <b>input</b> y una función la cual sea capaz de subir una archivo "menor a 5mb" y el
      servidor
      retornara la "url" si la carga se realizó exitosa.
    </p>
    <p>
      La peticíon debe ser <b>POST</b> y el campo file debe llamarse <b>file</b>
    </p>
    <p><b>endpoint: </b> <code>https://node-simple-upload.herokuapp.com/upload</code></p>

  </div>

</div>
<hr>
<div class="wrapper bg-transparent">
  <div class="wrapper-content">
    <div class="block element">
      <input type="file" name="" id="">
    </div>
  </div>
</div>

<div class="wrapper bg-transparent">
  <div class="wrapper-content">
    <button class="test-button">PROBAR 😃</button>
    <div>
      <small>Este boton debe hacer la función solicitada</small>
    </div>
  </div>
</div>